<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= meta[:title] %></title>
  <meta name="viewport" content="width=device-width,maximum-scale=1">
  <link rel="shortcut icon" href="<%= image_url("content/favicon.ico") %>">

  <%= stylesheet_link_tag "content", media: "all" %>
  <%= javascript_include_tag "frontend" %>
  <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=latin,cyrillic" %>
  <%= csrf_meta_tags %>

  <%= language_alternate %>

  <%= tag(:meta, name: 'keywords', content: meta[:keywords]) if meta[:keywords] %>
  <%= tag(:meta, name: 'description', content: meta[:description]) if meta[:description] %>

  <%= yield :extra_scripts %>
</head>
<body class="<%= 'navigated' if @navigation %><%= ' overflowed' if @navigation && @navigation[:overflowed] %>" data-classes="<%= ' dark' if @body_dark %><%= ' no-shadow' if @body_no_shadow %>">
<% if @navigation %>
    <div class="slide" data-action="navigation">
      <%= render 'content/navigation/navigation' %>

      <div class="slide-wrap" data-navigation="slide">
<% end %>

<%= render 'header' %>
<%= yield %>

<%= render 'footer', :absolute => (true if @absolute_footer) %>

<% if @navigation %>
    </div>
    </div>
<% end %>


<% if S "counters" %>
    <%= S("counters").html_safe %>
<% end %>

<%= yield :footer_scripts %>
</body>
</html>
