<br>
<h2>MY ACCOUNT</h2>
<div class="clearfix">&nbsp;</div>

<div class="light_grey paymenttab grey_bottom_border">
  <ul class="list-inline">
    <li>
      <%= link_to profile_accounts_path do %>
          <span class="green active">Account Information »</span>
      <%end%>
    </li>
    <li>
      <%= link_to history_accounts_path do %>
          <span class="green">Account History »</span>
      <%end%>
    </li>
    <li>
      <%= link_to withdraw_accounts_path do %>
          <span class="green">Withdrawal Request »</span>
      <%end%>
    </li>
    <li>
      <%= link_to new_bank_account_path do %>
          <span class="green">Add Bank Account Request »</span>
      <%end%>
    </li>
    <li class="pull-right">
      <a href="#"><%= image_tag "questionmark.png", alt: "Question Mark" %></a>
    </li>
  </ul>
</div>
<div class="clearfix">&nbsp;</div>
