<footer>
  <div class='footerContainer container'>

    <div class='row logo-row'>
      <%= image_tag 'main_logo.png',  alt: "Fantasy capital logo" %>
    </div>

    <div class='row'>
      <div class='col-md-7'>
        <ul class='company-section'>
          <li class="item-header">Company</li>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="mailto:support@fantasycapital.com">Contact Us</a>
          </li>
          <li>
            <a href="/terms">Terms</a>
          </li>
          <li>
            <a href="/privacy-policy">Privacy</a>
          </li>
        </ul>
        <!--
        <ul class="support-section">
          <li class="item-header">Support</li>
          <li>
            <a href="#">100% Legal</a>
          </li>
          <li>
            <a href="#">Affiliates</a>
          </li>
          <li>
            <a href="#">Deposit Bonus</a>
          </li>
          <li>
            <a href="#">Careers</a>
          </li>
        </ul>
        -->
        <ul class="contact-section">
          <li class="item-header">Connect With Us</li>
          <li class="social-links">
            <%= link_to 'https://www.facebook.com/fantasycapital' do %>
              <%= image_tag 'square_facebook.png', alt: 'Fantasy Capital Facebook page' %>
            <% end %>
            <%= link_to 'https://twitter.com/fantasycapital' do %>
              <%= image_tag 'square_twitter.png', alt: 'Fantasy Capital Twitter page' %>
            <% end %>
            <br />
            <%= link_to 'https://plus.google.com/u/0/113355143365224061494/about' do %>
              <%= image_tag 'square_gplus.png', alt: 'Fantasy Capital Google Plus page' %>
            <% end %>

          </li>
        </ul>
      </div>

      <div class='col-md-5'>
        <ul class="partners-section">
          <li class="item-header">Partners</li>
          <li class="partner-links">
            <a href="#">
              <%= image_tag 'stripe.png', :height => 20 %>
            </a>
            <a href="#">
              <%= image_tag 'sports_data.png', :height => 20 %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
