.container-fluid
    .row
        .col-md-12
            = render_file('app/views/static/header.haml')
    .row
        .col-md-12
            = render_file('app/views/static/featured.haml')
    .row
        .col-md-12
            = render_file('app/views/static/promotion.haml')
    = render_file('app/views/static/map.haml')
    = render_file('app/views/static/testimonials.haml')
    = render_file('app/views/static/articles.haml')
    = render_file('app/views/static/callus.haml')
    = render_file('app/views/static/newsletter.haml')
    = render_file('app/views/static/footer.haml')