<%= language_prompt %>

<%= simple_form_for [:cm, @post_block],
                    html: { class: 'form-horizontal', multipart: true },
                    url: url_for(controller: 'cm/post_blocks', action: :update, post_id: @post.id, id: @post_block.id) do |b| %>

  <% simple_fields_for 'post_block', b.object do |f| %>
      <%= form_errors f %>

      <% if 'html' == @post_block.block_type %>
        <% Globalize.with_locale(@locale.slug) do %>
          <%= f.input :content, as: :html %>
        <% end %>

        <%= language_input f %>
      <% elsif 'embed' == @post_block.block_type %>
        <% Globalize.with_locale(@locale.slug) do %>
            <%= f.input :content, as: :text %>
        <% end %>

        <%= language_input f %>
      <% else %>
        <%= image_field @post_block, :picture, f, [100, 100] %>
      <% end %>


      <div class="form-actions">
        <%= f.button :submit, save_or_update(@post_block), :class => 'btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    cm_post_blocks_path(@post), :class => 'btn' %>
      </div>

  <% end %>
<% end %>
