<div class="control-group">
  <label class="control-label">
    <%= t(['activerecord.attributes', item.class.name.downcase, property].join ".") %>
  </label>

  <div class="controls">
    <div class="fileupload <%= image.file? ? 'fileupload-exists' : 'fileupload-new' %>" data-provides="fileupload">
      <div class="fileupload-preview thumbnail" style="width: <%= defined?(size[0]) ? size[0].to_s + 'px' : '200px' %>; height: <%= defined?(size[1]) ? size[1].to_s + 'px' : '100px' %><%= if options[:transparent] then
                                                                                                                                                                                              '; background: url(' + image_url('admin/transparent.png') + ');'
                                                                                                                                                                                            end %>">
        <%= image_tag image.url(:preview) if image and defined? image.url %>
      </div>

      <div>
        <span class="btn btn-file"><span class="fileupload-new"><%= t('helpers.files.select') %></span><span class="fileupload-exists"><%= t('helpers.files.change') %></span><%= field %></span>
        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload"><%= t('helpers.files.remove') %></a>
      </div>
    </div>

    <% if options[:sizes].present? %>
        <div class="row">
          <div class="alert alert-info span">
            Картинка будет обрезана в размеры: <%= options[:sizes].join(', ') %>
          </div>
        </div>
    <% end %>
  </div>
</div>