<%= language_prompt %>

<%= simple_form_for [:admin, @property], :html => { :class => 'form-horizontal' } do |f| %>
  <%= form_errors f %>

  <% Globalize.with_locale(@locale.slug) do %>
    <%= f.input :name %>
  <% end %>
  
  <%= f.association :property_type, include_blank: false %>

  <%= language_input f %>

  <div class="form-actions">
    <%= f.button :submit, save_or_update(@property), :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        admin_properties_path, :class => 'btn' %>
  </div>
<% end %>
