<div class="lineup-wrapper col-md-4">
  <!-- line below had lineup.completed? in place of 'false' -->

  <div class="gridbox <%= false ? "complete" : "upcoming" %>">
    <!---Box Header-->
    <header>
      <div class="pull-left">
        <%= image_tag "sports/#{lineup.sport.downcase}.png" %>
        <strong><%= lineup.sport %></strong></div>
      <div class="pull-right">
        <!-- line below had lineup.completed? in place of 'false' -->

        <% if false  %>
            <strong>COMPLETE</strong>
        <% elsif lineup.entries.empty? %>
            <strong>NEW</strong>
          <% else %>
            <strong>UPCOMING</strong>: <%= countdown_tag lineup.entries[0].contest.start_at %>
        <% end %>
      </div>
    </header>
    <ul class="summary">
      <li># of Entries</li>
      <li>PMR</li>
      <li>REM.Salary</li>
    </ul>
    <ul class="summary green">
      <li>1</li>
      <li>540</li>
      <li>$0</li>
    </ul>
    <!---/Box Header-->
    <table class="tab lineup">
      <thead>
      <tr>
        <th>POS</th>
        <th>PLAYER</th>
        <th>FPPG</th>
      </tr>
      </thead>
      <tbody>
      <% lineup.lineup_spots.each do |lineup_spot| %>
          <tr>
            <td><span><strong><%= lineup_spot.sport_position.name %></strong></span></td>
            <td data-stats-url="<%= stats_player_path(lineup_spot.player) if lineup_spot.player %>" class="<%= 'player-stats' if lineup_spot.player %>"><span class="green"><%= lineup_spot.player.try(:name) || "&nbsp;".html_safe %></span></td>

            <td><span><%= (lineup_spot.player ? "24.5" : "&nbsp;").html_safe %></span></td>
          </tr>
      <% end %>
      <tr>
        <!-- line below had lineup.completed? in place of 'false' -->
        <td colspan="4" style="color: white; text-align: center;"><%= (false ? "<strong>FANTASY POINTS</strong>: 126.7" : "&nbsp;").html_safe %></td>
      </tr>
      </tbody>
    </table>
    <p class="last-edit small"><strong>Last Edit:</strong> <%= lineup.updated_at.strftime "%b %d %Y %I:%M %p %Z" %></p>
    <footer>
      <ul>
        <!-- line below had lineup.completed? in place of 'false' -->

        <% unless false %>
          <li><span class="green"><%= link_to "Edit »", edit_lineup_path(lineup) %></span></li>
          <li><span class="green"><a data-stats-url="/lineups/<%= lineup.id %>/export" href="javascript:void(0);" class="lineup-export">Export »</a></span></li>
        <% end %>
        <li><span class="green"><a href="/entries">Entries »</a></span></li>
        <% unless lineup %>
          <li><span class="green"><a href="#">Challenge »</a></span></li>
          <li><span class="green"><%= link_to 'Submit »', lineup_entries_path(lineup), method: :post %></span></li>
        <% end %>
      </ul>
    </footer>
  </div>
</div>
