<div class="page-header">
  <div class="pull-right">
    <%= link_to (plus_icon + ' Дизайнер'),
        new_admin_designer_path,
        :class => 'btn' %>
  </div>

  <h1>Дизайнеры</h1>
</div>

<% if @designers.empty? %>
  <div class="well">
    Опаньки, ни одного дизайнера :(
  </div>
<% else %>
  <table class="table table-striped" data-type="nested" data-nested-url="<%= order_admin_designers_path %>">
    <thead>
      <tr>
        <th>Дизайнер</th>
        <th>Проектов</th>
        <th>Coming soon</th>
        <th width="60px"></th>
      </tr>
    </thead>
    <tbody>
    
      <% @designers.each do |designer| %>
        <tr data-nested="item" data-nested-id="<%= designer.id %>">
          <td>
            <%= with_pic designer, designer.avatar %>
          </td>

          <td>
            <%= designer.goods.size %>
          </td>

          <td>
            <%= designer.design_items.size %>
          </td>

          <td>
            <%= link_to pencil_icon,
                edit_admin_designer_path(designer), :class => 'btn btn-mini' %>
                
            <%= link_to trash_icon(true),
                admin_designer_path(designer),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>  