<%- model_class = Good -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @good.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @good.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:logo) %>:</strong></dt>
  <dd><%= @good.logo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @good.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:heading) %>:</strong></dt>
  <dd><%= @good.heading %></dd>
  <dt><strong><%= model_class.human_attribute_name(:keywords) %>:</strong></dt>
  <dd><%= @good.keywords %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @good.description %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              goods_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_good_path(@good), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              good_path(@good),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
