<%= simple_form_for @design_item, :html => {:class => 'form-horizontal'}, url: @design_item.new_record? ? admin_designer_design_items_path(@designer) : admin_designer_design_item_path(@designer, @design_item) do |f| %>
    <%= form_errors f %>

    <% Globalize.with_locale(@locale.slug) do %>
        <%= f.input :name %>
    <% end %>

    <%= image_field @design_item, :icon, f, [300, 300], sizes: ['300x300'] %>

    <%= image_field @design_item, :picture, f, [300, 300], sizes: ['300x300'] %>

    <%= language_input f %>

    <div class="form-actions">
      <%= f.button :submit, save_or_update(@design_item), :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  edit_admin_designer_path(@designer, anchor: "options"), :class => 'btn' %>
    </div>

<% end %>
