<%- model_class = Three60 -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <dd><%= @three60.type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parent_id) %>:</strong></dt>
  <dd><%= @three60.parent_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:good_id) %>:</strong></dt>
  <dd><%= @three60.good_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:src_file_name) %>:</strong></dt>
  <dd><%= @three60.src_file_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:src_content_type) %>:</strong></dt>
  <dd><%= @three60.src_content_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:src_file_size) %>:</strong></dt>
  <dd><%= @three60.src_file_size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:src_updated_at) %>:</strong></dt>
  <dd><%= @three60.src_updated_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @three60.name %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              three60s_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_three60_path(@three60), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              three60_path(@three60),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
