<%= language_prompt %>  

<%= simple_form_for [:admin, @page], :html => { :class => 'form-horizontal' } do |f| %>
  <%= form_errors f %>

  <%= tabs [[:main, 'Основное'], [:content, 'HTML'], [:meta, 'META']] %>

  <%= tab_contents do %>
    <%= tab_pane :main, {active: true} do %>
      <%= f.input :name %>
      <%= f.input :url, as: :string %>
      <%= f.input :route %>
      <%= f.association :page_type, include_blank: false %>
    <% end %>

    <%= tab_pane :meta do %>
      <% Globalize.with_locale(@locale.slug) do %>

        <%= f.input :title %>
        <%= f.input :heading %>
        <%= f.input :keywords %>
        <%= f.input :description %>

      <% end %>
    <% end %>

    <%= tab_pane :content do %>
      <% Globalize.with_locale(@locale.slug) do %>
        <%= f.input :content, as: :html %>
      <% end %>
    <% end %>
  <% end %>

  <%= language_input f %>

  <div class="form-actions">
    <%= f.button :submit, save_or_update(@page), :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        admin_pages_path, :class => 'btn' %>
  </div>
<% end %>
