<div class="page-header">
  <h1>Тестовый стенд MAC</h1>
</div>

<form action="<%= @config['URL'] %>" method="post">

  <input TYPE="hidden" NAME="CURRENCY" SIZE="50" VALUE="643"/>
  <input type="hidden" name="TRTYPE" value="<%= @config['TRTYPE'] %>"/>

  <input TYPE="hidden" NAME="TERMINAL" SIZE="8" VALUE="<%= @config['TERMINAL'] %>" MAXLENGTH="8"></input>
  <input TYPE="hidden" NAME="MERCH_URL" SIZE="255" VALUE="<%= @config['MERCH_URL'] %>" MAXLENGTH="255"></input>
  <input TYPE="hidden" NAME="MERCHANT" SIZE="50" VALUE="<%= @config['MERCHANT'] %>" MAXLENGTH="50"></input>

  <table>
    <tr>
      <td width="150px;">
        Сумма платежа
      </td>

      <td>
        <input TYPE="text" NAME="AMOUNT" VALUE=""/>
      </td>
    </tr>

    <tr>
      <td>
        Описание платежа
      </td>

      <td>
        <input TYPE="text" NAME="DESC" VALUE="Testing mac"/>
      </td>
    </tr>

    <tr>
      <td>
        Backref
      </td>

      <td>
        <input TYPE="text" NAME="BACKREF" VALUE="<%= @config['BACKREF'] %>"></input>
      </td>
    </tr>

    <tr>
      <td>
        Email
      </td>

      <td>
        <input TYPE="text" NAME="EMAIL" VALUE="<%= @config['EMAIL'] %>"></input>
      </td>
    </tr>

    <% if false %>
        <input TYPE="hidden" NAME="TIMESTAMP" SIZE="14" VALUE="20130320111111" MAXLENGTH="14">
    <% end %>

        <input TYPE="hidden" NAME="NONCE" SIZE="16" VALUE="asd" MAXLENGTH="32">
        <input TYPE="hidden" NAME="P_SIGN" VALUE="cbf03f1d8fdb5ec6ac4997efafa8754e46151f97"></input>

    <tr>
      <td></td>
      <td>
        <button>Отправить</button>
      </td>
    </tr>


  </table>


</form>